@charset "UTF-8";
/*---------Font-----------*/
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
/*--------------------*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*---------peremennie-----------*/
/*-------------------*/
/*-------pages style------------*/
._active {
  color: #FF6464;
}

.page__title {
  margin-bottom: 55px;
}
@media (max-width: 767.98px) {
  .page__title {
    margin-bottom: 25px;
  }
}

.blog__items {
  padding-bottom: 50px;
}
@media (max-width: 767.98px) {
  .blog__items {
    padding-bottom: 30px;
  }
}

.blog__item {
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 30px;
}
.blog__item:last-child {
  margin: 0 0 0 0;
}

.blog__title {
  color: inherit;
  font-weight: 500;
  font-size: 30px;
  line-height: 146.6666666667%;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  margin-bottom: 0 0 15px 0;
}
@media (min-width: 991.98px) {
  .blog__title:hover {
    color: #FF6464;
  }
}
@media (max-width: 767.98px) {
  .blog__title {
    font-size: 26px;
  }
}

.blog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  line-height: 145%;
  margin-bottom: 6px;
}
@media (max-width: 767.98px) {
  .blog__info {
    font-size: 16px;
  }
}

.blog__separator {
  margin: 0 15px;
}

.blog__category {
  color: #8695A4;
}

.blog__text {
  padding: 0 0 30px 0;
}

.workDetail {
  max-width: 700px;
  padding: 0 10px 30px;
  margin: 0 auto;
}

.workDetail__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 147.0588235294%;
  margin: 0 0 30px 0;
}
@media (max-width: 767.98px) {
  .workDetail__title {
    font-size: 30px;
  }
}

.workDetail__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.workDetail__year {
  background: #FF7C7C;
  border-radius: 16px;
  height: 25px;
  padding: 0 10px;
  font-weight: 900;
  font-size: 18px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workDetail__category {
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  margin: 0 0 0 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@media (max-width: 767.98px) {
  .workDetail__category {
    font-size: 18px;
  }
}

.workDetail__text p {
  margin: 0 0 25px 0;
}
.workDetail__text img {
  max-width: 100%;
  margin: 0 0 25px 0;
}

/*-------------------*/
/*--------pod kapotom-----------------------------------*/
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

/*-------------------------------------------------------*/
body {
  height: 100%;
  font-family: "Heebo";
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
}

a {
  color: #000000;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.container {
  max-width: 856px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}
@media (max-width: 868px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

/*--header--*/
.header__content {
  max-width: 1052px;
  margin: 0 auto;
  padding: 0 10px;
}

.heder__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 82px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  padding: 10px;
  margin: 0 0 0 33px;
}

.header__link {
  font-weight: 500;
  font-size: 20px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.header__link:hover {
  color: #FF6464;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .heder__body {
    height: 50px;
  }

  .heder__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 2;
  }

  .header__burger:before, .header__burger:after {
    content: "";
    background: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    background: #000000;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 70px 0 0 0;
    background: rgba(255, 255, 255, 0.8);
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    text-align: center;
    margin: 0 0 20px 0;
  }
}
/*--header--*/
/*--main--*/
.page {
  padding: 90px 0 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (max-width: 868px) {
  .page {
    padding: 30px 0 0 0;
  }
}

.hello {
  padding: 38px 0 70px 0;
}
@media (max-width: 868px) {
  .hello {
    padding: 0 0 70px 0;
  }
}
@media (max-width: 767.98px) {
  .hello {
    padding: 0 0 60px 0;
  }
}

.hello__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767.98px) {
  .hello__container {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.hello__content {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 18px 110px 0 0;
}
.hello__content *:last-child {
  margin-bottom: 0;
}
@media (max-width: 868px) {
  .hello__content {
    padding: 0 50px 0 0;
  }
}
@media (max-width: 767.98px) {
  .hello__content {
    padding: 0 0 0 0;
  }
}

.hello__title {
  margin: 0 0 25px 0;
}

.title {
  font-weight: bold;
  font-size: 44px;
  line-height: 136.3636363636%;
}
@media (max-width: 767.98px) {
  .title {
    font-size: 32px;
  }
}

.hello__text {
  margin: 0 0 35px 0;
}
@media (max-width: 767.98px) {
  .hello__text {
    padding: 0 15px;
  }
}

.text, .workDetail__text p {
  line-height: 143.75%;
}

.hello__button {
  margin: 0 0 25px 0;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 20px;
  height: 47px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  background: #FF6464;
  font-size: 20px;
  line-height: 145%;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 992px) {
  .button:hover {
    background: #bb4949;
  }
}

.hello__ava {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 243px;
          flex: 0 0 243px;
  height: 243px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: -5px 13px 0 0 #EDF7FA;
          box-shadow: -5px 13px 0 0 #EDF7FA;
}
.hello__ava img {
  max-width: 100%;
}
@media (max-width: 767.98px) {
  .hello__ava {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
    height: 170px;
    margin: 0 0 40px 0;
  }
}

.recent-post {
  background: #EDF7FA;
  padding: 25px 0 13px 0;
}

.recent-post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 0;
}

.recent-posts__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 20px 0 0;
}

.title-post {
  font-size: 22px;
}
@media (max-width: 767.98px) {
  .title-post {
    text-align: center;
    font-size: 18px;
  }
}

.recent-post__view-all {
  color: #00A8CC;
  font-weight: 400;
  white-space: nowrap;
  line-height: 23px;
}
@media (max-width: 767.98px) {
  .recent-post__view-all {
    display: none;
  }
}

.recent-post__items {
  margin: 0 -10px;
}
@media (min-width: 767.98px) {
  .recent-post__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.recent-post__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 10px;
  margin: 0 0 17px 0;
}

.recent-post__item {
  height: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 20px;
}
.recent-post__item *:last-child {
  margin-bottom: 0;
}

.recent-post__title {
  display: inline-block;
  font-weight: bold;
  font-size: 26px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  line-height: 146.1538461538%;
  margin: 0 0 17px 0;
}
.recent-post__title:hover {
  color: #FF6464;
}
@media (max-width: 767.98px) {
  .recent-post__title {
    font-size: 22px;
  }
}

.recent-post__info {
  font-size: 18px;
  line-height: 144.4444444444%;
  margin-bottom: 15px;
}
.recent-post__info span {
  margin: 0 10px;
}
@media (max-width: 767.98px) {
  .recent-post__info {
    font-size: 16px;
  }
}

.recent-post__text {
  margin-bottom: 15px;
}

/*--FEATURED WORKS-----------------------------------------------------------------------------------------------------------*/
.featured-works {
  padding: 30px 0 80px 0;
}
@media (max-width: 767.98px) {
  .featured-works {
    padding: 30px 0 30px 0;
  }
}
@media (max-width: 767.98px) {
  .featured-works__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
  }
}
@media (max-width: 767.98px) {
  .featured-works__item .worcks-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    margin: 0 15px 0 0;
  }
}

.worcks-item {
  border-bottom: 1px solid #E0E0E0;
  padding: 0 0 35px 0;
  margin: 0 0 35px 0;
}
.worcks-item:last-child {
  margin: 0 0 0 0;
}
@media (min-width: 767.98px) {
  .worcks-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.worcks-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 246px;
          flex: 0 0 246px;
  border-radius: 6px;
  min-height: 180px;
  display: block;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .worcks-img {
    padding: 0 0 60% 0;
    margin-bottom: 17px;
  }
}

.worck__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (min-width: 767.98px) {
  .worck__body {
    padding: 0 0 0 18px;
  }
}

.work__page__title {
  margin: 0 0 45px 0;
}
@media (max-width: 767.98px) {
  .work__page__title {
    margin: 0 0 25px 0;
  }
}

.works__item {
  padding: 0 0 60px 0;
}
@media (max-width: 767.98px) {
  .works__item {
    padding: 0 0 30px 0;
  }
}

.worck__title {
  color: inherit;
  font-weight: 700;
  font-size: 30px;
  display: inline-block;
  line-height: 146.6666666667%;
  margin: 0 0 15px 0;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.worck__title:hover {
  color: #FF6464;
}
@media (max-width: 767.98px) {
  .worck__title {
    font-size: 24px;
  }
}

.worck__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 15px 0;
}

.year {
  height: 25px;
  background: #142850;
  border-radius: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  color: #fff;
  font-weight: 900;
  font-style: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.category {
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  margin: 0 0 0 25px;
  color: #8695A4;
}

/*--FEATURED WORKS-----------------------------------------------------------------------------------------------------------*/
/*--footer-----------------------------------------------------------------------------------------------------------*/
.footer {
  text-align: center;
  padding: 50px 0;
}
@media (max-width: 767.98px) {
  .footer {
    padding: 30px 0;
  }
}

.footer__social {
  margin: 0 0 35px 0;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social__item {
  color: inherit;
  font-size: 30px;
  margin: 0 35px 0 0;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.social__item:last-child {
  margin: 0 0 0 0;
}
@media (min-width: 991.98px) {
  .social__item:hover {
    color: #FF6464;
  }
}

.footer__copiright {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

/*--footer-----------------------------------------------------------------------------------------------------------*/
/*--main--*/